.movieLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  margin: auto;
  overflow-x: auto;
  padding-top: 1rem;
}

.movieListContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 20px;
  width: 100%;
  justify-content: center;
  align-content: center;
  margin-top: 0;
}

.yearWrapper {
  display: block;
  font-size: 1rem;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 0 0.5rem;
  border: 0.025rem solid black;
  border-radius: 0.45rem;
}

.emptyMessage {
  align-self: center;
  margin: 1rem auto;
  font-size: 1.125rem;
  color: #354f52;
}

.topLoader {
  background: none;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .movieListContainer {
    grid-template-columns: repeat(3, 1fr);
  }

  .emptyMessage {
    margin: 0.5rem auto;
    font-size: 0.75rem;
  }
}

@media (max-width: 768px) {
  .movieListContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .emptyMessage {
    margin: 0.5rem auto;
    font-size: 0.75rem;
  }
}

@media (max-width: 480px) {
  .movieListContainer {
    grid-template-columns: 1fr;
  }

  .emptyMessage {
    margin: 0.5rem auto;
    font-size: 0.65rem;
  }
}
