.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: #219ebc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  left: 0;
}

.logo {
  font-family: "Bungee Spice", sans-serif;
  font-size: 1.25rem;
  margin: 0;
  flex-shrink: 0;
  text-decoration: none;
  font-weight: bold;
}

.searchInput {
  border-radius: 0.45rem;
  min-height: 2.5rem;
  width: 20%;
  min-width: 15rem;
  border: none;
  padding: 0 0.5rem;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 0 6px;
    width: 100%;
    margin-bottom: 0;
  }

  .logo {
    margin: 4px auto;
  }

  .searchInput {
    max-width: 90%;
    margin-top: 0;
    margin-bottom: 1rem;
  }
}
